<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
    <%= link "Finch", to: "/" %>
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="<%= bundle_path(@conn, :index) %>">
      Bundles
    </a>
  </nav>
</div>
