<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <%= link page_title(@conn, assigns), to: "/" %>
    </span>
    <div class="mdl-layout-spacer"></div>
    Hi there!
  </div>
</header>
