<h2>Show faq</h2>

<ul>

  <li>
    <strong>Question:</strong>
    <%= @faq.question %>
  </li>

  <li>
    <strong>Answer:</strong>
    <%= @faq.answer %>
  </li>

</ul>

<%= link "Edit", to: faq_path(@conn, :edit, @faq) %>
<%= link "Back", to: faq_path(@conn, :index) %>
